.benefits {
    padding-top: 94px;
    padding-bottom: 47px;
}
.benefits-set {
    display: flex;
}
.benefits-set__item {
    width: 270px;
    &:not(:last-child) {
            margin-right: 30px;
        }
}
.benefits-set__bgc {
    background-color: $background-button-color;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.benefits-set__title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits-set__text {
    font-size: 14px;
    line-height: 1.71;
    margin: 0;
}